

html, body, #root {
  height: 100%;
  width:100%;
  margin:0;
}

#root {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
 }

.main-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:4em;
  text-shadow: 1.3px 1px #1f3063; 
}

.below-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:2em;
  /* text-shadow: 1.3px 1px #1f3063;  */

}

 .container {
  display: flex;
  flex-direction: column;
 }

 /* *{
  box-sizing: border-box;
 } */
 .player-hands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgba(138,192,216,1) 90% ); */
  /* background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(107,158,205,1) 28.3%, rgba(50,73,101,1) 100.2% ); */
  /* background-image: linear-gradient( 67.6deg,  rgba(225,242,254,1) -2.8%, rgba(193,224,250,1) 44.6%, rgba(19,116,197,1) 102.4% ); */
  background: radial-gradient(closest-side, #E1F2FE, #C1E0FA, #1374C5);

  /* overflow-x: scroll;
  padding: 24px;
  width: 300px;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  border-radius: 8px;
  gap: 12px; */
 }

 .hand-middle {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  row-gap: 8em;
 }


 .player-left {
  display: flex;
  flex-direction: column;
 }

 /* .player-hands .player-left {
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 8px;
  scroll-snap-align: start;
 } */

 .player-right {
  display: flex;
  flex-direction: column;
 }

 /* .player-hands .player-right {
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 8px;
  scroll-snap-align: start;
 } */

 .player-top {
  display: flex;
  /* flex-direction: column; */
 }

/* .player-hands .hand-middle {
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 8px;
  scroll-snap-align: start;
 } */

 .player-bottom {
  display: flex;
  /* flex-direction: column; */
 }

 /* .player-hands .player-bottom {
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 8px;
  scroll-snap-align: start;
 } */

 img {
  width: 80px;
  height: 200px;
  /* background-image: url('https://wallpaperaccess.com/full/439822.jpg'); */

 }

 .sign-up {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: auto auto auto; */
 } 

 .toggle-login-and-sign-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

 .submit-button {
  color: green;
  border-bottom: 5px ridge #ae9;

 }